{
  "presets": [
    "@babel/env"
    // "latest",
    // "stage-3"
  ],
  "plugins": [
    "@babel/transform-flow-strip-types",
    // "transform-flow-strip-types",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
    // ["transform-class-properties", { "spec": true }]
  ]
}
